src/main/app/http-receiver.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:context="http://www.springframework.org/schema/context" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <jms:activemq-connector doc:name="Active MQ" name="Active_MQ" validateConnections="true" brokerURL="${broker.url}" numberOfConsumers="20"/>
    <context:property-placeholder location="mule-message-injector.properties"/>
    <flow name="http-receiver-main">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="${http.port}" path="message" mimeType="application/json" doc:name="HTTP"/>
        <logger level="INFO" doc:name="Inbound Logger"/>
        <choice doc:name="Choice">
            <when expression="#[message.inboundProperties['http.method'] == 'POST']">
                <byte-array-to-string-transformer doc:name="Byte Array to String"/>
                <jms:outbound-endpoint queue="muleMessage" doc:name="JMS" connector-ref="Active_MQ" exchange-pattern="request-response"/>
            </when>
            <otherwise>
                <custom-transformer  class="org.mule.transformers.GetResponse" doc:name="Java"/>
                <json:object-to-json-transformer encoding="UTF-8" mimeType="application/json" doc:name="Object to JSON"/>

            </otherwise>
        </choice>
    </flow>
</mule>
