target/test-classes/jms-request-response-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:amqp="http://www.mulesoft.org/schema/mule/amqp" xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:jersey="http://www.mulesoft.org/schema/mule/jersey" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" version="CE-3.4.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/jersey http://www.mulesoft.org/schema/mule/jersey/current/mule-jersey.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd
http://www.mulesoft.org/schema/mule/amqp http://www.mulesoft.org/schema/mule/amqp/current/mule-amqp.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
    <flow name="jms-request-response-main">
        <jms:inbound-endpoint queue="muleMessage" connector-ref="Active_MQ" doc:name="JMS"/>
        <logger level="INFO" doc:name="JMS Logger"/>
        <set-payload value="#['{&quot;Message&quot;:{&quot;Method&quot;:&quot;' + message.inboundProperties['http.method'] + '&quot;,&quot;Payload&quot;:&quot;' + payload + '&quot;,&quot;Path&quot;:&quot;' + message.inboundProperties['http.request.path'] + '&quot;,&quot;QueryParams&quot;:&quot;' + message.inboundProperties['http.query.params'] + '&quot;}}']" doc:name="Set POST response"/>
        <jms:outbound-endpoint queue="#[message.outboundProperties.JMSReplyTo]" connector-ref="Active_MQ" doc:name="JMS"/>
    </flow>
</mule>
